@model ProjectArchiteck
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Zircos</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">ProjectArchiteck</a></li>
                                <li class="breadcrumb-item active">Add / Edit ProjectArchiteck</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Add / Edit Project Architeck </h4>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card-box">
                        <div class="">
                            <form asp-area="Admin" asp-controller="Architeck" asp-action="Create" method="post">
                                <div class="form-group mb-4">
                                    <label asp-for="@Model.Name">Category Name</label>
                                    <input asp-for="@Model.Name" class="form-control" placeholder="Enter name">
                                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                </div>

                                <button type="submit" class="btn btn-success waves-effect waves-light mr-1" id="kt_sweetalert_demo_3_3">Create</button>
                                <button asp-area="Admin" asp-controller="Architeck" asp-action="Index" type="submit" style="margin-left:670px;" class="btn btn-secondary waves-effect waves-light">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

