@model ServiceCatagory
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Zircos</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">ServiceCatagory</a></li>
                                <li class="breadcrumb-item active">Add / Edit ServiceCatagory</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Add / Edit Service Category </h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card-box">
                        <div class="">
                            <form asp-area="Admin" asp-controller="Category" asp-action="Create" method="post">
                                <div class="form-group mb-4">
                                    <label asp-for="@Model.Name">Category Name</label>
                                    <input asp-for="@Model.Name" class="form-control" placeholder="Enter name">
                                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                </div>

                                <button type="submit" class="btn btn-success waves-effect waves-light mr-1" id="sweet-success">Create</button>
                                <button asp-area="Admin" asp-controller="Category" asp-action="Index" type="submit" class="btn btn-danger waves-effect waves-light">Back to list</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

