@model IdentityRole
@{
    ViewData["Title"] = "RoleCreate";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}


<div class="content-page">
    <div class="content">

        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Zircos</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Role</a></li>
                                <li class="breadcrumb-item active">Add / Edit Roles</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Add / Edit Roles </h4>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card-box">
                        <div class="">
                            <form asp-area="Admin" asp-controller="Account" asp-action="RoleCreate" method="post" >
                                <div asp-validation-summary="All" class="text-danger"></div>
                            

                                <div class="form-group mb-4">
                                    <label asp-for="@Model.Name"> Name</label>
                                    <input asp-for="@Model.Name" class="form-control">
                                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                </div>

                                <button type="submit" class="btn btn-success waves-effect waves-light mr-1" id="sweet-success">Create</button>
                                <button asp-area="Admin" asp-controller="Account" asp-action="Roles" type="submit" style="margin-left:670px;" class="btn btn-secondary waves-effect waves-light">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
