@model VmClient
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_BannerPartial" model="@Model.Banner" />

<section class="clients">
    <div class="container">
        <div class="row" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
            <div class="client-box">
                <span>Best Service, Right Time, Right People</span>
                <h2>OUR CLIENTS</h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            </div>
        </div>
        <div class="row" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
            @foreach (var client in Model.Clients)
            {
                <div class="col-lg-3 col-md-4">
                    <div class="client-img">
                        <img class="img-fluid main-img" src="~/Uploads/@client.ClientImages.FirstOrDefault().Image" alt="">
                        <img class="client-hover img-fluid" src="./img/Home-img/008.png" alt="">
                    </div>
                </div>
            }

   
        </div>
    </div>
</section>

